<% provide(:title, t("views.static_pages.about.title"))%>
<h1><%= t("views.static_pages.about.pageTitle")%></h1>
<p><%= t("views.static_pages.about.content")%></p>
<p><%= t("views.static_pages.about.footer")%></p>