  <%= form_with(model: @room, local: true, method: method, path: path, class: 'form-inline') do |f| %>
  <div class="container-fluid">
    <div class="row">
      <div class='col-2'>
        <%= f.text_field :name, placeholder: 'name', class: "form-control" %>
      </div>
      <div class="col-1">
        <%= f.submit button_content, class: "btn btn-warning" %>
      </div>
    </div>
  </div>
<% end %>
